html,
body{
    height: 100%;
    background-color: #222d32 !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48e248;
}

.login-form{
    width: 380px;
    height: 500px;
    padding: 20px;
    background-color: #1a2226 !important;
    border-radius: 10px !important;
}

input[type="text"],
input[type="password"]{
    background-color: #1a2226 !important;
    color: #ffff;
    border: 2px solid #00ff00;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;
    /* background: #48e248 !important ; */
}
.signup{
    /* color: #16a085; */
    color: #48e248;
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    margin-top: 16px;
    text-align: center;
}
.btn{
     background: #48e248 !important ;
     color: #000 !important;
     transform: translateY(10px);
     font-size: 14px;
     border-radius: 10px !important;
}
/* input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background:#1a2226 ;
    color: #fff;
    margin: 0;
} */